{% extends "_layouts/cp" %}

{% block content %}
  <div id="string-translation-app">
    <v-confetti></v-confetti>
    <div class="text-center mt-4">
      <h2 class="mt-4 mb-4">Welcome to String Translation Plugin for Craft</h2>
      <p class="mb-4">
        Translate your translation strings into different languages.
      </p>
      <p>
        <a class="btn" href="{{ cpUrl('string-translation') }}">Translate</a>
      </p>
    </div>
  </div>
{% endblock %}
