/*
|
| Name: List
| Description: Style for String Translation list
| State: Green
|
*/

.string-translation-list {
  list-style: disc;
}

.striped > tbody > :nth-child(odd) {
	background-color: #f9f9f9;
}

table.fixed {
	table-layout: fixed;
}

/* .widefat - main style for tables */
.widefat {
	border-spacing: 0;
	width: 100%;
	clear: both;
	margin: 0;
}

.widefat * {
	word-wrap: break-word;
}

.widefat td,
.widefat th {
	padding: 8px 10px;
}

.widefat thead th {
	border-bottom: 1px solid #ccd0d4;
}

.widefat td {
	vertical-align: top;
}

.widefat td,
.widefat td p,
.widefat td ol,
.widefat td ul {
	font-size: 13px;
	line-height: 1.5em;
}

.widefat th,
.widefat thead td,
.widefat tfoot td {
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}

/* strings translation table */
.column-translations,
.column-string {
	width: 33%;
}

.translation label {
	display: inline-block;
	width: 23%;
	vertical-align: top;
}

.translation input {
	width: 72%;
	line-height: 17px;
	padding: 3px;
}

.translation {
	padding: 3px;
}